$main-color: #2a9d8f;
$main-dark-color: #264653;
$main-darker-color: #3F3545;
$light-color: #F6F7EB;
$secondary-light-color: #E0D8DE;
$secondary-color: #e9c46a;
$secondary-dark-color: #f4a261;
$secondary-darker-color: #e76f51;
