<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Brand name</h1>
            <nav>
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        
    </header>
    <section class="content">
        <div class="container">
            <div>
                <h1>Hello world</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quis officia pariatur dolores perferendis omnis est eveniet sed repellendus voluptatum placeat iure totam, dolorum fuga ab ducimus nostrum tempora. Iusto?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, eveniet! Laudantium, harum molestias? Suscipit neque obcaecati consectetur non laborum facilis veritatis dicta. Nulla iste harum animi deserunt ex accusantium ipsa modi cupiditate, a quae hic consequuntur possimus? Dolore, distinctio ipsam at eveniet error fugiat voluptates ratione quam modi tempora aliquam.</p>
                <a href="#">Contact</a>
                <a href="#">Our works</a>
            </div>
            <img src="http://picsum.photos/400/300" alt="random">

        </div>
        <div class="container article">
            <img src="http://picsum.photos/400/300" alt="random">
            <div>
                <h2>Hello world</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus iure temporibus aspernatur voluptatum voluptates officiis, labore quia, fugiat consequatur saepe unde fuga harum impedit velit repellat eveniet? Ratione fugiat voluptas sint sunt odit voluptates ut officia suscipit odio praesentium minus ea id explicabo doloribus culpa amet nesciunt repellat at, laudantium perferendis sapiente veniam? Eveniet iste dolore id aliquam, deserunt provident numquam ducimus! Corrupti necessitatibus laudantium vero corporis dolor amet magnam repellendus a temporibus esse quidem possimus libero voluptas ut provident, alias aperiam dicta facilis sint omnis iusto, adipisci vel similique! Maiores architecto ut eos aut commodi asperiores nihil consequuntur!</p>
            </div>
        </div>
    </section>
    <footer>
        <p>Copyright 2022 Roman Kutselepa. All rights reserved.</p>
    </footer>
</body>
</html>